<div layout="row" layout-wrap>
  <div flex="100" layout="row" layout-align="center center">
    <h2>SẢN PHẨM NỔI BẬT</h2>
  </div>
  <md-card flex-order="30" class="" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline home-preview-title">Jelly Ear Galaxy 2015</span>
        <span class="md-subhead home-preview-subtitle">đ 1.100.000</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between">
      <div class="md-media-xl home-preview-image card-media">
        <img class="md-card-image home-preview-image md-media-xl" src="assets/images/s1-ATH-IM01-chinh-hang.gif" />
      </div>

      <div layout="column">
        <form >
          <md-input-container class="home-preview-chooser" layout="row" flex>
            <label>Màu Sắc: </label>
            <md-select flex ng-model="user.color">
              <md-option value="Red">Đỏ</md-option>
              <md-option value="Black">Đen</md-option>
              <md-option value="Green">Xanh</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="home-preview-chooser">
            <label>Số lượng</label>
            <input type="number" ng-model="user.title" required>
          </md-input-container>
        </form>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-fab md-warn home-preview-cart-button" aria-label="Thêm vào giỏ hàng">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_add_shopping_cart_black_48px.svg"></md-icon>
      </md-button>

      <md-button class="md-fab md-primary home-preview-cart-button" aria-label="Xem chi tiết">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_details_black_24px.svg"></md-icon>
      </md-button>

    </md-card-actions>
  </md-card>

  <md-card flex-order="30" class="" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline home-preview-title">Sennheiser IE80</span>
        <span class="md-subhead home-preview-subtitle">đ 7.900.000</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between">
      <div class="md-media-xl home-preview-image card-media">
        <img class="md-card-image home-preview-image md-media-xl" src="assets/images/images-s1-tai-nghe-sennheiser-ie80-chinh-hang.gif" />
      </div>

      <div layout="column">
        <form >
          <md-input-container class="home-preview-chooser" layout="row" flex>
            <label>Màu Sắc: </label>
            <md-select flex ng-model="user.color">
              <md-option value="Red">Đỏ</md-option>
              <md-option value="Black">Đen</md-option>
              <md-option value="Green">Xanh</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="home-preview-chooser">
            <label>Số lượng</label>
            <input type="number" ng-model="user.title" required>
          </md-input-container>
        </form>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-fab md-warn home-preview-cart-button" aria-label="Thêm vào giỏ hàng">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_add_shopping_cart_black_48px.svg"></md-icon>
      </md-button>

      <md-button class="md-fab md-primary home-preview-cart-button" aria-label="Xem chi tiết">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_details_black_24px.svg"></md-icon>
      </md-button>

    </md-card-actions>
  </md-card>
  <md-card flex-order="30" class="" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline home-preview-title">Sennheiser MX471</span>
        <span class="md-subhead home-preview-subtitle">đ 7.990.000</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between">
      <div class="md-media-xl home-preview-image card-media">
        <img class="md-card-image home-preview-image md-media-xl" src="assets/images/images-s4-tai-nghe-sennheiser-mx471-chinh-hang.gif" />
      </div>

      <div layout="column">
        <form >
          <md-input-container class="home-preview-chooser" layout="row" flex>
            <label>Màu Sắc: </label>
            <md-select flex ng-model="user.color">
              <md-option value="Red">Đỏ</md-option>
              <md-option value="Black">Đen</md-option>
              <md-option value="Green">Xanh</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="home-preview-chooser">
            <label>Số lượng</label>
            <input type="number" ng-model="user.title" required>
          </md-input-container>
        </form>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-fab md-warn home-preview-cart-button" aria-label="Thêm vào giỏ hàng">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_add_shopping_cart_black_48px.svg"></md-icon>
      </md-button>

      <md-button class="md-fab md-primary home-preview-cart-button" aria-label="Xem chi tiết">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_details_black_24px.svg"></md-icon>
      </md-button>

    </md-card-actions>
  </md-card>
  <md-card flex-order="30" class="" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline home-preview-title">Sennheiser MM70i</span>
        <span class="md-subhead home-preview-subtitle">đ 1.990.000</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between">
      <div class="md-media-xl home-preview-image card-media">
        <img class="md-card-image home-preview-image md-media-xl" src="assets/images/images-s1-tai-nghe-sennheiser-mm70i-chinh-hang.gif" />
      </div>

      <div layout="column">
        <form >
          <md-input-container class="home-preview-chooser" layout="row" flex>
            <label>Màu Sắc: </label>
            <md-select flex ng-model="user.color">
              <md-option value="Red">Đỏ</md-option>
              <md-option value="Black">Đen</md-option>
              <md-option value="Green">Xanh</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="home-preview-chooser">
            <label>Số lượng</label>
            <input type="number" ng-model="user.title" required>
          </md-input-container>
        </form>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-fab md-warn home-preview-cart-button" aria-label="Thêm vào giỏ hàng">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_add_shopping_cart_black_48px.svg"></md-icon>
      </md-button>

      <md-button class="md-fab md-primary home-preview-cart-button" aria-label="Xem chi tiết">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_details_black_24px.svg"></md-icon>
      </md-button>

    </md-card-actions>
  </md-card>
</div>
