<div layout="row" layout-wrap>
  <md-card ng-repeat="product in shows.products | startFrom: (shows.currentPage*shows.pageSize) | limitTo: shows.pageSize" flex-order="30" class="" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline home-preview-title">{{product.name}}</span>
        <span class="md-subhead home-preview-subtitle">{{product.price.format()}} VNĐ</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between">
      <div class="md-media-xl home-preview-image card-media">
        <img class="md-card-image home-preview-image md-media-xl" ng-src="{{product.images[0].url}}" />
      </div>

      <div layout="column">
        <form >
          <md-input-container class="home-preview-chooser">
            <label>Số lượng</label>
            <input value="0" type="number" ng-model="values">
          </md-input-container>
        </form>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="index.addToCart(values, product)" class="md-fab md-warn home-preview-cart-button" aria-label="Thêm vào giỏ hàng">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_add_shopping_cart_black_48px.svg"></md-icon>
      </md-button>

      <md-button ng-click="shows.gotoDetail(product.pid)" class="md-fab md-primary home-preview-cart-button" aria-label="Xem chi tiết">
        <md-icon class="home-preview-cart" md-svg-icon="assets/images/ic_details_black_24px.svg"></md-icon>
      </md-button>

    </md-card-actions>
  </md-card>

  <div layout="row" layout-align="center center" layout-fill>
    <md-button ng-hide="shows.currentPage < 1" ng-click="shows.currentPage = shows.currentPage < 1 ? 0 : shows.currentPage - 1" class="md-raised md-primary">Pre</md-button>
    <md-button ng-click="shows.currentPage = shows.currentPage + 1" ng-hide="shows.currentPage >= shows.totalPage" class="md-raised md-primary">Next</md-button>
  </div>
</div>
