<div ng-show="user" flex="grow" layout="column" layout-align="center center">

  <div class="table-products" flex layout-fill layout="column">
    <div layout="row" layout-fill>
      <div flex="30"><strong>Tên sản phẩm</strong></div>
      <div flex="20"><strong>Nhà sản xuất</strong></div>
      <div flex="10"><strong>Còn hàng</strong></div>
      <div flex="10"><strong>Hot</strong></div>
      <div flex><strong>Operations</strong></div>
    </div>
    <div layout="row" layout-fill ng-repeat="product in pr.products">
      <div flex="30">{{product.name}}</div>
      <div flex="20">{{product.nsx}}</div>
      <div flex="10">{{product.number}}</div>
      <div flex="10"><input type="checkbox" ng-change="pr.makeItHot(product)" ng-model="product.ishot"></div>
      <div flex>
        <md-button ng-click="pr.updateProduct(product)" class="md-raised md-primary">Edit</md-button>
        <md-button ng-click="pr.deleteProduct(product)" class="md-raised md-primary">Delete</md-button>
    </div>
  </div>



    <div layout="row" layout-fill layout-align="center top">
      <h2>THÊM SẢN PHẨM</h2>
    </div>

    <div flex="100" layout-fill layout="row" layout-align="center top">
      <md-card flex class="md-inline-form" layout-fill>
        <span id="linkbox"></span>
        <form class="product-editable-form">
          <md-input-container class="md-block">
            <label>Tên sản phẩm</label>
            <input ng-model="pr.product.name">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Nhà sản xuất:</label>
            <input ng-model="pr.product.nsx" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Loại sản phẩm:</label>
            <md-select ng-model="pr.product.type" required>
              <md-option ng-repeat="type in pr.types" value="{{type}}">{{type}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Giá bán (VNĐ) (>1000 VNĐ)</label>
            <input type="number" ng-model="pr.product.price" min="1000" max="1000000000" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Bảo hành (Tháng)</label>
            <input type="number" ng-model="pr.product.bh" min="0" max="78" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Số lượng (cái)</label>
            <input type="number" ng-model="pr.product.number" min="0" max="10000" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Khuyến mãi (%)</label>
            <input type="number" ng-model="pr.product.km" min="0" max="100" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Sản phẩm hot?</label>
            <input type="checkbox" ng-model="pr.product.ishot">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Thông số kỹ thuật</label>
        <textarea class="product-input-detail" ng-model="pr.product.detail"  rows="5" md-select-on-focus required>

        </textarea>
          </md-input-container>

          <label>Hình ảnh: </label>
          <div flex layout="row">
            <md-card flex="30" layout="row" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="image in pr.images">
              <div layout="column"  layout-align="center center" class="md-media-sm card-media"><img class="md-media-sm card-media" ng-src="{{image.url}}"></div>
              <div layout="column" layout-align="center center">
                <md-button ng-click="pr.deleteByName($index, image)" class="md-icon-button" aria-label="Delete">
                  <md-icon md-svg-icon="../../assets/images/ic_delete_black_24px.svg"></md-icon>
                </md-button>
              </div>
            </md-card>
          </div>
          <md-input-container class="md-block">
            <input type="file" id="file" name="file" accept="image/*">
          </md-input-container>

          <md-input-container class="md-block">
            <div layout="row" layout-align="center end">
              <md-button ng-click="pr.addUser()" type="submit" flex="50" class="md-raised md-primary">Lưu sản phẩm</md-button>
              <md-button ng-click="pr.backHome()" flex="50" class="md-raised md-primary">Reset</md-button>
            </div>

          </md-input-container>

        </form>

      </md-card>
    </div>


</div>
</div>

<div ng-show="!user" flex="grow" layout="row" layout-align="center center">

  <div layout="column"  layout-align="center center" class="md-media-sm card-media">
    <img class="md-media-sm card-media" ng-src="../../assets/images/a.jpg">
  </div>
</div>
