.table-products div{
  padding-top: 2px;
  padding-bottom: 2px;
}
.table-products div div {
  text-align: center;
}
.table-products div div button{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
