<!doctype html>
<html ng-app="cshop">
  <head>
    <meta charset="utf-8">
    <title>CShop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-controller="IndexController as index" layout="column" ng-cloak flex>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar layout="row" class="md-tall" layout-align="center end">
      <div flex class="md-toolbar-tools">
        <md-button class="md-icon-button md-accent" aria-label="Settings" hide-gt-md>
          <md-icon md-svg-icon="assets/images/menu.svg"></md-icon>
        </md-button>
        <img class="md-toolbar-tools" src="assets/images/logo.png" hide-md hide-sm hide-xs>
      </div>
      <div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="row" layout-align="center end">
        <section layout="row" layout-padding>
          <md-button class="groupX left" ng-click="index.openHome()">Trang Chủ</md-button>

          <md-menu md-offset="0 50" class="groupX middle">
            <md-button ng-click="index.openMenu($mdOpenMenu, $event)">Sản Phẩm</md-button>
            <md-menu-content class="heading-menu" width="4">
              <md-menu-item>
                <md-button ng-click="index.goToPage('/shows/overear')">Over Ear</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="index.goToPage('/shows/earbud')">Ear Bud</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="index.goToPage('/shows/inear')">In Ear</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="index.goToPage('/shows/clipon')">Clip On</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>


          <md-button class="groupX middle" ng-click="index.goToPage('/tai_khoan_ngan_hang')">Thanh Toán</md-button>
          <md-button class="groupX right" ng-click="index.openContactPage()">Liên Hệ</md-button>

        </section>
      </div>

    </md-toolbar>

    <div layout="row" layout-fill>
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 md-raised md-primary" md-component-id="left"
                  md-is-locked-open="$mdMedia('gt-md')">
        <md-content layout="column" layout-fill>
          <md-button class="md-raised md-primary san-pham" ng-click="index.goToPage('/shows/all')">Tất cả sản phẩm</md-button>
          <md-button class="md-raised md-primary san-pham-moi" ng-click="index.goToPage('/shows/all')">Sản phẩm mới</md-button>
          <md-button class="md-raised md-primary san-pham-hot" ng-click="index.goToPage('/shows/hot')">Sản phẩm hot</md-button>
          <md-button class="md-raised md-primary san-pham-sale-off" ng-click="index.goToPage('/shows/sales')">Sản phẩm giảm giá</md-button>
        </md-content>
      </md-sidenav>

      <div layout="column" flex id="content">
        <md-content class="page-content" layout="column"  layout-align="center center" layout-fill>

          <div ui-view></div>

        </md-content>
      </div>
    </div>

    <md-toolbar ng-controller="IndexController as index" layout="row" class="md-tall" layout-align="center end">
      <div flex="20">
        <section  class="bottom-contact-info" layout="column" layout-padding>
          <a href="/aboutme">Về chúng tôi</a>
          <a href="/doi_tra_hang">Chính sách đổi trả hàng</a>
          <a href="/tai_khoan_ngan_hang">Tài khoản ngân hàng</a>
          <a href="/co_hoi_nghe_nghiep">Cơ hội nghề nghiệp</a>
          <a href="/the_khach_hang">Thẻ khách hàng thân thiết</a>
        </section>
      </div>
      <div flex layout="row" layout-align="center end">
        <section class="bottom-contact-info" layout="row" layout-padding>
          <p><strong>Thông tin liên hệ</strong><br>

            Hotline bán hàng: 1900 636 012<br>
            Email: sales@tainghe.com.vn<br>
            Khiếu nại dịch vụ: 0982822260 <br>
            Email: info@tainghe.com.vn</p>
        </section>
      </div>

    </md-toolbar>


    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
